<a href="https://colab.research.google.com/github/kanokwatt/training-2022-10-21/blob/main/exam_decision_tree_cat_and_dog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset
Dog and Cat

เพื่อให้เกิดความง่ายในการทำความเข้าใจ **ผมจะขอเรียก DataFrame ว่าตาราง (Table)**

In [ ]:
import pandas as pd

# สร้างตารางที่จัดเก็บข้อมูลของสุนัข และแมวตามคุณลักษณะ (Features) ประกอบด้วย
# หน้ากลม (face), หูตั้ง (ear), สีน้ำตาล (brown), แลบลิ้น (tongue), หนวดยาว (whisker)
data = pd.DataFrame({             
    'face':[0, 0, 0, 1, 1, 0],                # หน้ากลม 
    'ear':[],                 # หูตั้ง
    'brown':[],               # สีน้ำตาล
    'tongue':[],              # แลบลิ้น
    'whisker':[],             # หนวดยาว            
    'target':[]               # {สุนัข: 0}, {แมว: 1}
})

data

   face  ear  brown  tongue  whisker  target
0     0    1      1       1        1       0
1     0    0      1       1        0       0
2     0    0      1       0        0       0
3     1    1      0       0        1       1
4     1    1      1       0        1       1
5     0    1      0       0        1       1

## สร้าง Decision Tree

## สร้าง Decision Tree Classifier เพื่อสร้างแบบจำลองต้นไม้สำหรับการจำแนก แมว กับสุนัข

## แสดงต้นไม้ตัดสินใจ (Decision Tree)